<% layout('layouts/boilerplate') -%>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br>
      <h3>Create a New Listing</h3>
      <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" type="text" placeholder="Add a cachy title" class="form-control" required />
          <div class="valid-feedback">
            Great title!
          </div>
          <div class="invalid-feedback">
            oops! title required.
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Add a beautiful description" class="form-control"
            required></textarea>
          <div class="valid-feedback">
            Nice description!
          </div>
          <div class="invalid-feedback">
            description is required.
          </div>
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input name="listing[image]" type="file" class="form-control" required />
        </div>

        <!--Category selection added -->
        <!-- <div class="mb-3">
          <label class="form-label">Category</label>
          <select name="listing[category]" class="form-select" required>
           <option disabled selected>Select category</option>
           <option value="Trending">Trending</option>
           <option value="Rooms">Rooms</option>
           <option value="Iconic City">Iconic City</option>
           <option value="Castle">Castle</option>
           <option value="Mountains">Mountains</option>
           <option value="Pools">Pools</option>
           <option value="Camping">Camping</option>
           <option value="Farm">Farm</option>
           <option value="Arctic">Arctic</option>
           <option value="Forest">Forest</option>
           <option value="Beachside">Beachside</option>
           <option value="Riverside">Riverside / Lake</option>
           <option value="Unique Stay">Unique Stay</option>
          </select>
          <div class="invalid-feedback">
            Please select a category.
          </div>
        </div> -->


        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="text" placeholder="Price per night" class="form-control" required />
            <div class="invalid-feedback">
              oops! price per night required.
            </div>
            <div class="valid-feedback">
              Great price!
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" placeholder="Country" class="form-control" required />
            <div class="invalid-feedback">
              oops! country required.
            </div>
            <div class="valid-feedback">
              Awesome country!
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" type="text" placeholder="Location" class="form-control" required />
          <div class="invalid-feedback">
            oops! location required.
          </div>
          <div class="valid-feedback">
            Beautiful location!
          </div>
        </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br><br>
      </form>
    </div>
  </div>